/* Use rgb code for use rgba colors. Example color: rgba(var(--bg), 0.5);*/
:root{
  --bg: 55, 63, 81;
  --bg-hover: 47, 53, 68;
  --bg-grey: 245, 247, 250;
  --primary: 66, 183, 115;
  --secondary: 128, 170, 226;
  --danger: 245, 108, 108;
  --info: 96, 98, 102;
  --info-light: 192, 196, 204;
  --warning: 230, 162, 60;
  --success: 103, 194, 58;
  --text: 50, 59, 69;
  --text-contrast: 255, 255, 255;
  --scrollbar: 232, 232, 232;
  --scrollbar-bg: 251, 251, 251;

  --table-bg: 255, 255, 255;
  --table-cell-fixed-bg: 253, 253, 253;
  --table-cell-hover: 238, 242, 247;
  --table-border: var(--bg-grey);
  --table-border-hover: 231, 236, 243;
  --table-text: 77, 79, 83;
  --table-header-color: 125, 128, 135;
  --table-selected-row: 245, 252, 248;
  --table-selected-cell: 235, 248, 241;
  --input-border: 173, 176, 184;
  --input-placeholder: var(--bg);
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background: rgb(var(--scrollbar-bg));
}

::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
  background-clip: padding-box;
  background-color: rgb(var(--scrollbar));
  transition:background-color .1s;
}

/* Use a native font stack that selects the best font-family for each OS and device. Thnks to bootstrap4 */
html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
  color: rgba(var(--text), 0.87);
}

/* ExtJS form fields radius */
.x-form-type-text .x-form-field {
  border-radius: 4px;
}

/* ExtJS date picker radius */
.x-form-trigger-wrap {
  border-radius: 4px;
  border-collapse: separate;
}

/* ExtJS popup border radius */
.x-boundlist {
  border-radius: 1px;
}

/* ExtJS fieldset border radius */
.x-fieldset {
  border-radius: 4px
}

/* Show required star on the right side of label */
.el-form-item.is-required:not(.is-no-asterisk) > .el-form-item__label:after {
  content: '*';
  color: #f56c6c;
  margin-left: 4px;
}

/* Hide required star on the left side of label */
.el-form-item.is-required:not(.is-no-asterisk) > .el-form-item__label:before {
  content: '' !important;
  margin-right: 0px !important;
}

.ub-select-entity__menu-button {
  display: flex;
  right: 0;
  padding-right: 5px;
  cursor: pointer;
  top: 0;
  transition: all .3s;
  position: absolute;
  -webkit-transition: all .3s;
  height: 100%;
  color: rgb(var(--info-light));
  text-align: center;
  align-items: center;
}

.ub-entity-edit__slot {
  padding: 10px 20px 44px 20px;
  height: 100%;
  overflow: auto;
}

.ub-code-mirror {
  line-height: 15px;
  position: relative;
}

.ub-upload-document__a {
  white-space: nowrap;
  cursor: pointer;
}

.ub-upload-document__file-input input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.ub-upload-document__file-input {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.ub-noselect {
  user-select: none;
}

.ub-icon-menu {
  display: flex !important;
  width: 25px;
  min-height: 32px;
  pointer-events: auto;
  justify-content: center;
  align-items: center;
}

.ub-empty-text{
  text-align: center;
  color: rgb(var(--info));
  padding: 20px;
  font-size: 14px;
}

.ub-fake-notification{
  display: none !important;
}

/* Use for stretches the form to the height of available space and does the correct work of scrolling */
.u-form-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Add scroll to direct child u-form-container */
.u-form-layout > form {
  overflow: auto;
  flex-grow: 1;
  padding: 1em;
}

/* el-tabs in root vue container will have fixed tab-header and scrollable tab-pane */
.u-form-layout > form  > .el-tabs {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: auto;
}

.u-form-layout > form  > .el-tabs .el-tab-pane {
  overflow: auto;
  height: 100%;
}

/* Recommend to use in case 2-3 columns layout  */
.u-form-max-width {
  max-width: 1044px;
}

.ub-dialog__reset-padding .el-dialog__body{
  padding: 0;
}

.ub-dialog__max-width .el-dialog{
  max-width: 800px;
}

.ub-dialog__min-width .el-dialog{
  min-width: 480px;
}

.ub-dialog__table-entity .el-dialog{
  height: 70vh;
  min-width: 80vw;
  display: flex;
  flex-direction: column;
}

.ub-dialog__table-entity .el-dialog__body{
  height: 100%;
}
