/* Use rgb code for use rgba colors. Example color: rgba(var(--bg), 0.5);*/
:root{
  --bg: 47, 64, 80;
  --bg-dark: 41, 56, 70;
  --primary: 64, 158, 255;
  --danger: 245, 108, 108;
  --info: 144, 147, 153;
  --warning: 230, 162, 60;
}

/* Use a native font stack that selects the best font-family for each OS and device. Thnks to bootstrap4 */
html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
  color: #5D6A76;
}

/* ExtJS form fields radius */
.x-form-type-text .x-form-field {
  border-radius: 4px;
}

/* ExtJS date picker radius */
.x-form-trigger-wrap {
  border-radius: 4px;
  border-collapse: separate;
}

/* ExtJS popup border radius */
.x-boundlist {
  border-radius: 1px;
}

/* ExtJS fieldset border radius */
.x-fieldset {
  border-radius: 4px
}

/* Show required star on the right side of label */
.el-form-item.is-required:not(.is-no-asterisk) > .el-form-item__label:after {
  content: '*';
  color: #f56c6c;
  margin-left: 4px;
}

/* Hide required star on the left side of label */
.el-form-item.is-required:not(.is-no-asterisk) > .el-form-item__label:before {
  content: '' !important;
  margin-right: 0px !important;
}

.ub-toolbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(66, 73, 86, .12);
  padding: 0 16px;
}

.ub-toolbar__button {
  min-width: 24px;
  font-size: 1.2em !important;
  margin: 0 12px !important;
}

.ub-toolbar__button__divider {
  width: 1px;
  margin: 5px 0;
  background-color: #424956;
  opacity: 0.2;
}

.ub-toolbar__date__container {
  margin: 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ub-toolbar__date {
  color: #323b45;
  opacity: 0.54;
  line-height: 1.8;
  font-size: 10px;
}

.ub-select-entity__menu-button {
  display: flex;
  right: 0;
  padding-right: 5px;
  cursor: pointer;
  top: 0;
  transition: all .3s;
  position: absolute;
  -webkit-transition: all .3s;
  height: 100%;
  color: #c0c4cc;
  text-align: center;
  align-items: center;
}

/*.ub-select-entity__menu-button {*/
  /*cursor: pointer;*/
  /*height: 100%;*/
  /*color: #c0c4cc;*/
  /*text-align: center;*/
/*}*/

.ub-entity-edit__slot {
  padding: 10px 20px 44px 20px;
  height: 100%;
  overflow: auto;
}

.ub-code-mirror {
  line-height: 15px;
}

.ub-upload-document__a {
  white-space: nowrap;
  cursor: pointer;
}

.ub-upload-document__file-input input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.ub-upload-document__file-input {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.ub-noselect {
  user-select: none;
}

.ub-icon-menu {
  display: flex !important;
  width: 25px;
  min-height: 32px;
  pointer-events: auto;
  justify-content: center;
  align-items: center;
}

.ub-empty-text{
  text-align: center;
  color: rgb(var(--info));
  padding: 20px;
  font-size: 14px;
}

.ub-fake-notification{
  display: none !important;
}