; Set a registry for a UnityBase scope
registry=https://registry.npmjs.org
@unitybase:registry=http://registry.unitybase.info/
@ub-e:registry=http://registry.unitybase.info/
@ub-d:registry=http://registry.unitybase.info/