.button {
    --hs-button: var(--hs-primary);
    --l-button: var(--l-state-default);

    font-size: 1.6rem;
    padding: 0.8rem 1.5rem;
    border-radius: 4px;
    background: hsl(var(--hs-button), var(--l-button));
    color: hsl(var(--hs-text), var(--l-text-inverse));
    border: none;
    cursor: pointer;
    transition: .1s;
}

.button.success {
    --hs-button: var(--hs-success);
}

.button.warning {
    --hs-button: var(--hs-warning);
}

.button.danger {
    --hs-button: var(--hs-danger);
}

.button:hover {
    --l-button: var(--l-state-hover);
}

.button:disabled {
    cursor: not-allowed;
    --l-button: var(--l-state-disabled);
}

.button:active {
    --l-button: var(--l-state-active);
}
