:root {
    /* state colors */
    --hs-primary: 220, 80%;
    --hs-success: 120, 30%;
    --hs-warning: 20, 65%;
    --hs-danger: 360, 60%;

    /* Controls - buttons, icons etc. */
    --hs-control: 220, 15%;
    --l-state-default: 45%;
    --l-state-hover: 60%;
    --l-state-active: 35%;
    --l-state-disabled: 85%;

    /* text */
    --hs-text: 240, 5%;
    --l-text-default: 20%;
    --l-text-label: 45%;
    --l-text-description: 60%;
    --l-text-disabled: 80%;
    --l-text-inverse: 100%;

    /* border */
    --hs-border: 220, 20%;
    --l-input-border-default: 60%;
    --l-input-border-hover: 40%;
    --l-input-border-disabled: 75%;
    --l-layout-border-default: 80%;
    --l-layout-border-light: 90%;

    /* background */
    --hs-background: 220, 20%;
    --l-background-default: 95%;
    --l-background-active: 90%;
    --l-background-inverse: 100%;
}
