<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <!-- normalize browser CSS i.e. button should have the same font-family as body -->
    <link rel="stylesheet" href="clientRequire/normalize.css/normalize.css">
    <link rel="stylesheet" href="clientRequire/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="clientRequire/font-awesome/css/font-awesome.min.css"/>
    <!-- import Vue before Element -->
    <script src="clientRequire/vue/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="clientRequire/element-ui/lib/index.js"></script>
</head>
<body>
<style>
    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
        font-size: 1rem;
        color: #5D6A76;
        font-weight: 400;
        line-height: 1.5;
        text-align: left;
    }

    #login-page {
        width: 100%;
        height: 100%;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .el-checkbox__label {
        color: #5D6A76;
        font-size: .75rem;
    }
    .form-wrapper {
        width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .auth-tooltip {
        position: absolute;
        margin-left: 140px;
    }
</style>
<div id="app"></div>
</body>
<script src="/clientRequire/lodash/lodash.js"></script>
<script src="/clientRequire/@unitybase/ub-pub/dist/ub-pub.min.js"></script>
<script>
  var vm = new Vue({
    el: '#app',
    template: `
    <div id ="login-page">
      <el-row>
        <el-col :span="24" style = "background-color: rgb(125, 145, 163);color: whitesmoke;padding: 1rem;font-size: 2rem;">Аутентифікація</el-col>
      </el-row>
      <div class="form-wrapper">
        <img src="img/m-docnet.png" style="max-width: 210px;margin-top: 2rem;margin-bottom: 1rem;">
        <hr>

      <el-form :model="authData">
        <div v-if="hasNegotiate()">
          <el-tooltip content="Вхід з правами користувача, що увійшов до операційної системи. Комп'ютер повинен бути включений в домені" placement="bottom" effect="light">
              <i class="auth-tooltip fa fa-question-circle-o"></i>
          </el-tooltip>
          <p>Вхід через обліковий запис <br/> операційної системи</p>
          <el-form-item>
            <el-button type="primary" style="min-width: 8rem" @click="doNegotiateLogin">Продовжити</el-button>
            <div><el-checkbox v-model="silenceKerberosLogin">Запам'ятати спосіб входу</el-checkbox></div>
          </el-form-item>
          <hr>
        </div>

        <el-tooltip content="Введіть ім'я користувача, пароль та натисніть «Увійти»" placement="bottom" effect="light">
          <i class="auth-tooltip fa fa-question-circle"></i>
        </el-tooltip>
        <p>Вхід через обліковий запис <br/> Megapolis.DocNet</p>
        <el-form-item>
            <el-input autofocus="true" placeholder="Користувач" v-model="authData.user" v-on:keyup.enter="doUBLogin">
              <template slot="prepend"><i class="fa fa-fw fa-user"></i></template>
            </el-input>
        </el-form-item>
        <el-form-item>
            <el-input placeholder="Пароль" v-model="authData.pwd" v-on:keyup.enter="doUBLogin">
              <template slot="prepend"><i class="fa fa-fw fa-key"></i></template>
            </el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" plain style="min-width: 8rem" @click="doUBLogin">Увійти</el-button>
        </el-form-item>
        <el-form-item>
          <div><a href="#">Забули пароль?</a></div>
          <div><a href="#">Реєстрація</a></div>
        </el-form-item>
      </el-form>
      </div>
    </div>`,

    data: function () {
      return {
        silenceKerberosLogin: JSON.parse(window.localStorage.getItem('silenceKerberosLogin') || 'false'),
        userDidLogout: JSON.parse(window.localStorage.getItem('userDidLogout') || 'false'),
        authMethods: [],
        authData: {user: '', pwd: ''}
      }
    },
    watch: {
      silenceKerberosLogin: function (val) {
        if (val) {
          window.localStorage.setItem('silenceKerberosLogin', 'true')
        } else {
          window.localStorage.removeItem('silenceKerberosLogin')
        }
      }
    },
    methods: {
      hasNegotiate: function () {
        return this.authMethods.indexOf('Negotiate') !== -1
      },
      doNegotiateLogin: function () {
        window.deferred.resolve({
          authSchema: 'Negotiate',
          login: '',
          password: '',
          registration: 0
        })
      },
      doUBLogin: function () {
        window.deferred.resolve({authSchema: 'UB', login: vm.authData.user, password: vm.authData.pwd})
      },
      showError: function ({errMsg, errCode, entityCode, detail}) {
        this.$message({
          showClose: true,
          message: errMsg,
          type: 'error'
        })
      }
    }
  })
  window.deferred = {}
  UB.setErrorReporter(vm.showError.bind(vm))
  UB.connect({
    host: window.location.origin,
    allowSessionPersistent: true,
    onCredentialRequired: function (conn, isRepeat) {
      vm.authMethods = conn.authMethods || []
      var loginPromise = new Promise(function (resolve, reject) {
        window.deferred.resolve = resolve
        window.deferred.reject = reject
      })
      return loginPromise
    },
    onAuthorizationFail: function (reason) {
      UB.showErrorWindow(reason)
    }
  }).then(function (conn) {
    function getUrlVars () {
      var vars = {}
      var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (m, key, value) {
        vars[key] = value
      })
      return vars
    }

    var returnUrl = getUrlVars()['returnUrl']
    window.location.href = decodeURIComponent(returnUrl)
  })
</script>
</html>
